Backend/node_modules
Backend/package-lock.json
Backend/yarn.lock
Backend/npm-debug.log
Backend/yarn-debug.log
Backend/yarn-error.log
Backend/.DS_Store
Backend/Thumbs.db
Frontend/node_modules
Frontend/build
Frontend/.env*
Frontend/.next/
Frontend/public
Frontend/package-lock.json
Frontend/yarn.lock
Frontend/npm-debug.log
Frontend/yarn-debug.log
Frontend/yarn-error.log
Frontend/.DS_Store
Frontend/Thumbs.db
package-lock.json
yarn.lock
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak
*.tmp
*.log